{% extends 'main.html.twig' %}

{% block title %}{{ include('partials/title-meta.html.twig', {title: 'About'}) }}{% endblock %}

{% block content %}
    <section class="container-xxl front-highline-section">
        <p>Wenn du gerne an getragener <span class="unterline-secondary">Unterwäsche</span> schnupperst, bist du hier genau richtig. Frau Kruner ist 100% echt und ehrlich und immer für dich da.</p>
        <a href="" class="btn btn-primary-outline">Coming Soon</a>
    </section>
{% endblock %}
