
    <!--Desktop Information-->
    <div class="container-before-header">
        <div class="container-xxl d-flex justify-content-center align-items-center">
            Kostenlose Anmeldung - Kostenlose Lieferung - Diskret und Anonym
        </div>
    </div>
    <!--Desktop Information-->

    <!--Navigation-->
    <nav class="navbar navbar-expand-lg " id="navBarHeader">
        <div class="container-xxl">
            <a class="navbar-brand" href="/"><img src="img/icons/FxxK-Logo.svg" class="navbar-logo" alt="Frau Kruner Logo"></a>
            <!--Secondary Menu with Search for Mobile devices-->
            <span class="navbar-header-secondary-before">
            <ul class="navbar-header-secondary-before__list">

              <li class="navbar-header-secondary-before__list__item hidden-search"  id="searchSecondaryHidden">

                <button class="search-button-secondary" onclick="headerSearchFunctionHidden()"><img data-src="img/icons/search-icon.svg" class="lazy" alt="Suche Icon"></button>

                <form role="search" method="get" class="search-form-hidden" id="searchSecondaryHiddenForm" action="">
                  <label class="d-flex">
                    <input type="search" class="search-field-hidden" placeholder="Suche…" value="" name="s" title="Suchen" />

                     <span class="close-button" onclick="headerSearchFunctionHidden()"><img data-src="img/icons/close-icon.svg" class="lazy" alt="Suche Icon"></span>

                  </label>
                  <input type="submit" class="search-submit-hidden" value="Suchen" />
                </form>

              </li>

                <li class="navbar-header-secondary-before__list__item visible-search">
                  <form role="search" method="get" class="search-form" action="">
                    <label>
                      <input type="search" class="search-field" placeholder="Suche…" value="" name="s" title="Suchen" />
                    </label>
                    <input type="submit" class="search-submit" value="Suchen" />
                  </form>
                </li>

                <li class="navbar-header-secondary-before__list__item">
                    <a href="/login-templ.html">
                      <img src="img/icons/profil-icon.svg" class="navbar-header-secondary-before__list__item__icon" alt="Profil">
                    </a>
                </li>

                <li class="navbar-header-secondary-before__list__item">
                    <a href="/warenkorb.html">
                      <img src="img/icons/basket-icon.svg" class="navbar-header-secondary-before__list__item__icon" alt="Warenkorb">
                    </a>
                </li>
            </ul>
        </span>
            <!--Secondary Menu with Search for Mobile devices-->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation" id="menuHeaderNavButton" onclick="headerMenuButtonFunction()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </button>

            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <!--The Menu-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bestseller">Bestseller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>


                    <li class="nav-item nav-item__item-primary">
                        <a class="nav-link" href="/">Unterwäsche verkaufen</a>
                    </li>
                </ul>
                <!--The Menu-->

                <!--Secondary Menu with Search for Desktop & Small Mobile devices-->
                <span class="navbar-header-secondary">
                  <ul class="navbar-header-secondary__list">
                      <li class="navbar-header-secondary__list__item search-form">

                        <form role="search" method="get" class="search-form" action="">
                          <label>
                            <input type="search" class="search-field" placeholder="Suche…" value="" name="suchfeld" title="Suchen" />
                          </label>
                          <input type="submit" class="search-submit" value="Suchen" />
                        </form>

                      </li>

                      <li class="navbar-header-secondary__list__item">
                          <a href="/userlogin">
                            <img src="img/icons/profil-icon.svg" class="navbar-header-secondary__list__item__icon" alt="Profil">
                            <span>Profil</span>
                          </a>
                      </li>

                      <li class="navbar-header-secondary__list__item">
                          <a href="/warenkorb.html"><img src="img/icons/basket-icon.svg" class="navbar-header-secondary__list__item__icon" alt="Warenkorb">
                            <span>Warenkorb</span>
                          </a>
                      </li>
                  </ul>
              </span>
                <!--Secondary Menu with Search for Desktop & Small Mobile devices-->
            </div>
        </div>
    </nav>
    <!--Navigation-->

    <!--Mobile Information-->
    <div class="container-before-header__mobile">
        <div class="container-xxl d-flex justify-content-center align-items-center">
            Kostenlose Lieferung - Diskret und Anonym
        </div>
    </div>
    <!--Mobile Information-->

