<!DOCTYPE html>
<html lang="de">
<head>

    {% block title %} {% endblock %}

    {{ include('partials/head-css.html.twig') }}

</head>
<body>

<header>

    {{ include('partials/header.html.twig') }}

</header>
<main>

    {% block content %}
    {% endblock %}

</main>

<footer class="mt-5">

    {{ include('partials/footer.html.twig') }}

</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/app.min.js" async></script>

</body>
</html>
